---
title: "Models"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/ModelsHeadder.png
intro: 
  - excerpt: 'Here's a variety of models I created for various projects, or just for fun.'
feature_row:
  - image_path: assets/images/Argentinosaurus.png
    alt: "placeholder image 1"
    title: "Argentinosaurus (WIP)"
    excerpt: "An Argentinosaurus based on a grab bag of the world's best Sauropod, don't @ me."
  - image_path: /assets/images/HydraModel.png
    alt: "placeholder image 2"
    title: "Hydra"
    excerpt: "The Hydra created for Challenge of the Hydra. One of my first models that was based on an organic creature."
  - image_path: /assets/images/Thagomizer.png
    title: "Thagomizer"
    excerpt: "A weapon created for AGGP140, based on a weird Monster Hunter-esque weapon based on a Stegosaurus."
feature_row2:
  - image_path: assets/images/Argentinosaurus.png
    alt: "placeholder image 1"
    title: "Various Astro Cell Assets"
    excerpt: "A grab bag of assets created for AstroCell, namely the Tileset and some various props."
  - image_path: /assets/images/HydraModel.png
    alt: "placeholder image 2"
    title: "140 TileSet"
    excerpt: "An tileset created for AGGP140, loosely based on a First Order Star Destroyer"
  - image_path: /assets/images/Thagomizer.png
    title: "Chess Pieces"
    excerpt: "A set of Chess Pieces that were the first ever models I created in Maya and my first 3D models"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" %}