---
title: "Projects"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/ModelsHeadder.png
intro: 
  - excerpt: 'Welcome to the home of our project page. Here you will gaze upon our many wonderful projects.'
feature_row:
  - image_path: assets/images/Argent.png
    alt: "placeholder image 1"
    title: "Argentinosaurus (WIP)"
    excerpt: "An Argentinosaurus based on a grab bag of the world's best Sauropod, don't @ me."
  - image_path: /assets/images/HydraModel.png
    title: "Hydra"
    excerpt: "The Hydra created for Challenge of the Hydra. One of my first models that was based on an organic creature."
  - image_path: /assets/images/Thagomizer.png
    title: "Thagomizer"
    excerpt: "A weapon created for AGGP140, based on a weird Monster Hunter-esque weapon based on a Stegosaurus."
feature_row2:
  - image_path: assets/images/GroupThumb.png
    alt: "The Group 539 Project"
    title: "The Group 539 Project"
    excerpt: "Survive hordes of the undead in a very familiar game. 100% original, I can assure you."
    url: "/Zombies/"
    btn_label: "GO!"
    btn_class: "btn--primary"
  - image_path: assets/images/AstroThumb.png
    alt: "Astro Cell"
    title: "Astro Cell"
    excerpt: "An improbable escape plan. A remote prison as your playground. In Astro Cell, escape is the only option."
    url: "/Astro/"
    btn_label: "GO!"
    btn_class: "btn--primary"
  - image_path: assets/images/MurderThumb.png
    title: "Murder at Highmourn Manor"
    excerpt: "A fantastical night turns bloody, as you and your partner must solve the case of Lord Highmourn's Murder."
    url: "/Murder/"
    btn_label: "GO!"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
