---
title: "Projects"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/ProjectHeadder.png
intro: 
  - excerpt: 'Welcome to the home of our project page. Here you will gaze upon our many wonderful projects.'
feature_row:
  - image_path: assets/images/DJIThumb.png
    alt: "Don't Jurassic Up Image"
    title: "Don't Jurassic Up"
    excerpt: "Can you manage the world's second greatest dinosaur theme park? Only if you Don't Jurassic Up!"
    url: "/Jurassic/"
    btn_label: "GO!"
    btn_class: "btn--primary"
  - image_path: assets/images/UndThumb.png
    alt: "Undesirables Image"
    title: "The Undesirables"
    excerpt: "Face off against S.P.I.T.E and their fearsome mechanical foe in this 2D Sidescrolling Boss Fight!"
    url: "/Undesirables/"
    btn_label: "GO!"
    btn_class: "btn--primary"
  - image_path: assets/images/HydraThumb.png
    title: "Challenge of the Hydra"
    excerpt: "Defeat the mythological monster of Greece in this action packed VR arena. Cut off the heads!"
    url: "/Hydra/"
    btn_label: "GO!"
    btn_class: "btn--primary"
feature_row2:
  - image_path: assets/images/GroupThumb.png
    alt: "The Group 539 Project"
    title: "The Group 539 Project"
    excerpt: "Survive hordes of the undead in a very familiar game. 100% original, I can assure you."
    url: "/Zombies/"
    btn_label: "GO!"
    btn_class: "btn--primary"
  - image_path: assets/images/AstroThumb.png
    alt: "Astro Cell"
    title: "Astro Cell"
    excerpt: "An improbable escape plan. A remote prison as your playground. In Astro Cell, escape is the only option."
    url: "/Astro/"
    btn_label: "GO!"
    btn_class: "btn--primary"
  - image_path: assets/images/MurderThumb.png
    title: "Murder at Highmourn Manor"
    excerpt: "A fantastical night turns bloody, as you and your partner must solve the case of Lord Highmourn's Murder."
    url: "/Murder/"
    btn_label: "GO!"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" %}